body,
html,
.inner-container,
.outer-container {
  height: 100%;
}
* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.button-trigger {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mana {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-image: url(./images/mtg-color.png);
  background-repeat: no-repeat;
}

.plains {
  background-color: #ffeece;
  background-position: 2px 2px;
  background-size: 165px 105px;
}
.swamp {
  background-color: #ccc4c0;
  background-position: -92px -59px;
  background-size: 165px 105px;
}
.forest {
  background-color: #9cd5af;
  background-size: 165px 105px;
  background-position: -118px 2px;
}
.mountain {
  background-color: #faac90;
  background-size: 165px 105px;
  background-position: -23px -59px;
}
.island {
  background-color: #abe1fa;
  background-position: -62px 2px;
  background-size: 165px 105px;
}
